.paragraph {
    /* width: 320px; */
    /* padding: 10px; */
    /* border: 5px solid gray; */
    /* background-color: pink; */
    /* margin: 0; */
    /* text-align: center; */
    background-color: orange;
    width: 500px;
    padding: 50px;
    margin-left: 30%;
    
  }

  .inosoft{
    text-align: center;
    color: white;
  }

